h
body {
    background:#cccccc;
color:#BC8F8F;
p {
    text-align: center;
}
#banner {
     width: 50%;
     border: 10px solid #000000;
     padding: 10px;
     margin-left: 15px;
  
}
	